{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "rules": {
    "indent": ["error", 4, {
      "SwitchCase": 1
    }],
    "max-len": ["warn", 120],
    "no-shadow": "off",
    "no-param-reassign": "off",
    "prefer-destructuring": "off",
    "no-use-before-define": ["error", {
      "functions": false
    }],
    "no-underscore-dangle": "off",
    "comma-dangle": ["error", "never"],
    "import/prefer-default-export": "off"
  }
}
